.MenuTree .ant-menu-inline-collapsed {
    width: 50px;
}

.MenuTree .menuTree-div {
    height: calc(100% - 50px);
    overflow: auto;
}

.MenuTree .menuTree-div .ant-menu-submenu-title,
.MenuTree .menuTree-div .ant-menu-item,
.MenuTree .menuTree-div ul.ant-menu,
.MenuTree .menuTree-div ul.ant-menu.ant-menu-sub,
.popMenu .ant-menu-submenu-title,
.popMenu .ant-menu-item,
.popMenu ul.ant-menu,
.popMenu ul.ant-menu.ant-menu-sub {
    background-color: #303133;
}

.MenuTree .menuTree-div .ant-menu-sub .ant-menu-item,
.popMenu .ant-menu-sub .ant-menu-item {
    background-color: #202123;
}

.MenuTree .menuTree-div li .ant-menu-submenu-title,
.MenuTree .menuTree-div li.ant-menu-item,
.MenuTree .menuTree-div .ant-menu .ant-menu-item,
.MenuTree .menuTree-div .ant-menu-sub .ant-menu-item,
.popMenu li .ant-menu-submenu-title,
.popMenu li.ant-menu-item,
.popMenu .ant-menu .ant-menu-item,
.popMenu .ant-menu-sub .ant-menu-item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.MenuTree .menuTree-div .ant-menu-item,
.MenuTree .menuTree-div .ant-menu-submenu-title,
.popMenu .ant-menu-item,
.popMenu .ant-menu-submenu-title {
    color: #FFFFFF;
}

.MenuTree .menuTree-div .ant-menu-item:hover,
.MenuTree .menuTree-div .ant-menu-submenu-title:hover,
.MenuTree .menuTree-div .ant-menu .ant-menu-item.ant-menu-item-selected,
.popMenu .ant-menu-item:hover,
.popMenu .ant-menu-submenu-title:hover,
.popMenu .ant-menu .ant-menu-item.ant-menu-item-selected {
    background-color: #606266;
}

.MenuTree .menuTree-div .ant-menu .ant-menu-item.ant-menu-item-selected,
.popMenu .ant-menu .ant-menu-item.ant-menu-item-selected {
    border-right: 3px solid #409EFF;
}

.MenuTree .menuTree-div .ant-menu .ant-menu-item.ant-menu-item-selected span,
.popMenu .ant-menu .ant-menu-item.ant-menu-item-selected span {
    color: #409EFF;
}
