.ant-tabs-nav[role=tablist] {
    margin: 0;
    line-height: 18px;
    background-color: #E4E7ED;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-remove {
    color: #409eff;
}

.ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab:not(.ant-tabs-tab-active) {
    background-color: #E4E7ED;
    border: 1px solid #E4E7ED;
}

/* ---- 样式二 ---- */
/*.ant-tabs-nav[role=tablist] {*/
/*    background-color: #FFFFFF;*/
/*    border-bottom: 2px solid #E4E7ED;*/
/*}*/

/*.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {*/
/*    border: unset;*/
/*}*/

/*.ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {*/
/*    border-bottom: 2px solid #409eff;*/
/*}*/

/*.ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab:not(.ant-tabs-tab-active) {*/
/*    background-color: #FFFFFF;*/
/*    border: unset;*/
/*}*/

/* ----  ---- */
