.System .header,
.System .footer,
.System .side,
.System .content {
    overflow: auto;
    background-color: white;
}

.System .header {
    height: 50px;
    padding: 0;
    border-bottom: 2px solid #E4E7ED;
}

.System .footer {
    height: 30px;
    padding: 0;
    border-top: 2px solid #E4E7ED;
}

.System .AppFooter {
    height: 100%;
}

.System .MenuTree {
    height: 100%;
}

.System .side {
    background-color: #303133;
}

.System .ant-layout-sider {
    transition: all 0.5s;
}

.System .ant-spin-blur {
    opacity: 1;
}

.System .ant-spin-blur::after {
    opacity: 0;
}

